@{
    ViewData["Title"] = "About CarQuest ";
}
<article>
    <div class="p-5 ms-0 mb-4 shadow" style="background-color:palegoldenrod;border-radius:30px;">
        <h2 class="text-white">Your journey, Our commitment!</h2>
    </div>

    <img src="~/Images/image2.png" alt="Dealer Logo" style="width: 600px; height: auto; margin-bottom: 20px;" />

   <p>
    Our Mission
    At CarQuest, our mission is to provide our customers with a seamless and enjoyable car buying experience. 
    We believe that purchasing a vehicle should be straightforward and stress-free. 
    Our knowledgeable team is here to assist you every step of the way, from selecting the right model to securing financing.
 </p>
 <p>
    Our Selection
    We offer a diverse range of vehicles, from reliable sedans and spacious SUVs to rugged trucks and eco-friendly hybrids. 
    Each car in our inventory is carefully inspected to ensure it meets our high standards of quality and safety. 
    Whether you’re looking for a new or pre-owned vehicle, we have options that cater to your needs.
</p>
<p>
    Customer Satisfaction
    Customer satisfaction is at the heart of everything we do. 
    We are committed to building long-term relationships with our clients based on trust, transparency, and respect. 
    Our goal is not just to sell cars, but to help you find the right vehicle that fits your life.
</p>
</article>
