@{
    ViewData["Title"] = "Contact Us!";
}
<div class="row">
    <div class="col-sm-8">
        <h2>Car Quest</h2>
        <h3>Your journey, our commitment</h3>
        <address>
            One Congress Ave<br />
            Traverse City, MI 49696<br />
            <i class="fas fa-phone-alt"></i> 800.222.3333
        </address>
    </div>
    <img src="~/Images/image3.jpg" alt="" class="col-6 img-fluid" />
    <div class="row">
        <div class="col-sm-12 mt-5 list-group list-group-horizontal">
            <a href="mailto:us@xyzdetectives.org" class="list-group-item list-group-item-light">
                <i class="fas fa-envelope"></i> Sales: sales@carquest.org
            </a>
            <a href="mailto:europe@xyzdetectives.org" class="list-group-item list-group-item-success">
                <i class="fas fa-envelope"></i> Service: service@carquest.org
            </a>
        </div>
    </div>
</div>
